
// █░█░█ █▀▀ █▀▀ █▄▀   █░█ █ █▀▀ █░█░█
// ▀▄▀▄▀ ██▄ ██▄ █░█   ▀▄▀ █ ██▄ ▀▄▀▄▀

@use "../../theme"

.calendar .week
  // background-color: red

/****************************************************
 * EVENT BOX
 ****************************************************/

.calendar .week .eventbox
  padding: 0.5rem
  background-color: theme.$primary-800
  box-shadow: 4px 4px 4px 4px rgba(0 0 0 / 30%)
  
  &:focus, &:hover // TODO: NOT WORKING
    background-color: red

  .title
    font-weight: 500

  .times, .location
    font-size: 0.8rem

/****************************************************
 * SCROLLBAR
 ****************************************************/

.calendar .week .scroll
  trough
    margin-left: 1rem
    min-width: 0.6rem
    background-color: theme.$neutral-700

    slider
      background-color: theme.$neutral-300
      min-width: 0.4rem

/****************************************************
 * GRIDLINES
 ****************************************************/

.calendar .week .weekview-gridlines
  color: theme.$neutral-700

/****************************************************
 * DATE LABELS
 ****************************************************/

.calendar .week .date-label
  .number
    font-size: 2rem

  &.active
    color: theme.$primary-400

/****************************************************
 * HOUR LABELS
 ****************************************************/

.calendar .week .hour-label
  color: theme.$neutral-400
  font-size: 0.8rem
  font-weight: 500
  background-color: theme.$neutral-900
