@use "../../theme"

// Line graph showing account balance trends
.ledger .statistics .graph
  .header
    color: theme.$neutral-100
    font-size: 4rem

  .animator
    background-color: theme.$neutral-900
    
  .fire-graph
    /* haven't figured out nested classes */

.ledger .statistics .sidebar
  background-color: theme.$neutral-700

/* @TODO figure out nested classes so I can define these above */

.fire-graph
  &.vertical-intersect
    color: theme.$neutral-200

.balance
  &.plot
    color: theme.$primary-500

  &.horizontal-intersect
    color: theme.$neutral-300

  &.fit
    color: theme.$primary-800

.target
  &.plot
    color: theme.$green-500

  &.horizontal-intersect
    color: theme.$neutral-300
