
// █▀▀ █▀█ █▄░█ ▀█▀ █▀█ █▀█ █░░
// █▄▄ █▄█ █░▀█ ░█░ █▀▄ █▄█ █▄▄

@use '../theme' as theme

/**********************************************
 * GENERAL
 **********************************************/

.control-wrapper
  background-color: theme.$neutral-900
  border-radius: theme.$border-radius
  
.control
  font-family: theme.$font-stack
  padding: 2rem
  border-radius: theme.$border-radius
  background-color: theme.$neutral-800
  border-color: theme.$neutral-600
  color: theme.$neutral-100
  min-width: 26rem

  .ctrl-header
    font-size: 1.4rem

  .accent
    color: theme.$primary-400

  .pfp
    min-height: 6rem
    min-width:  6rem
    margin-bottom: 0.5rem
    border-radius: 50%
    background-size: cover
    background-position: center

/**********************************************
 * QUICK SETTINGS
 **********************************************/

.control .quick-settings .quick-settings-item
  background-color: theme.$neutral-700
  border-radius: theme.$border-radius

.control .quick-settings .overview
  border-radius: theme.$border-radius

  &:hover
    background-color: theme.$neutral-600
  
  .active
    background-color: theme.$primary-600
    border-radius: theme.$border-radius
  
    &:hover
      background-color: theme.$primary-500

.control .quick-settings .overview-content
  padding: 0.7rem

.control .quick-settings .content
  padding: 0.7rem

.control .quick-settings .connection
  transition: 0.1s all

  &.active
    color: theme.$primary-400

  &:hover
    color: theme.$neutral-500
