@use "defaults"
@use "bar"
@use "kitty"
@use "control/control"
@use "dashboard/dashboard"
@use "notrofi"
@use "notifications"
@use "themeswitch"

@use "widgets/widgets"

.test
  color: red
  background-color: blue

*
  all: unset // remove default gtk styling

  /* Uncomment to debug focusable widgets */
  // &:focus 
  //   background-color: red
