@use 'theme'

.bar
  background-color: theme.$neutral-900
  font-family: theme.$font-stack
  font-size: 1rem
  padding: 0.4rem 0.8rem 0.4rem 0.8rem
  color: theme.$neutral-100
  
  .left
    // padding-left: 20px

  .right
    // padding-right: 20px

  .workspaces
    label
      margin-left:  0.4rem 
      margin-right: 0.4rem

    &:not(.focused)
      color: theme.$neutral-100
    
    .focused
      color: theme.$primary-400
