@use '../theme' as theme
@use 'home'
@use 'ledger'

slider
  background-color: theme.$neutral-200

.dashboard
  font-family: theme.$font-stack
  background-color: theme.$neutral-900

  .placeholder-text
    color: theme.$neutral-300
 
  .tab-bar
    background-color: theme.$neutral-800
    min-width: 40px

    .tab-bar-entry 
      border-left: 2px solid white

    :hover
      transition: all 0.25s ease
      background-color: theme.$neutral-600

  .tab-container
    padding: theme.$spacing-s
    min-width: 1150px
    min-height: 650px

  .widget-container
    background-color: theme.$neutral-800
    border-radius: theme.$border-radius-s
  
    .widget-container-padding
      padding: theme.$spacing-s

  .dashtab
    .header
      font-size: theme.$font-size-xxl
      margin-top:     8px
      margin-bottom:  8px

// Global stuff
.redtext
  color: theme.$red-300

.greentext
  color: theme.$green-300
